{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="lead">
        <h3>
            Weather_project
        </h3>
    </h1>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#city">Города</a></li>
        <li><a data-toggle="tab" href="#datasource">Источники данных</a></li>
    </ul>

    <div class="tab-content">
        <div id="city" class="tab-pane fade in active">
            <div class = "row text-center">
                <div class="col-md-4 text-left">
                    <a href="{{ path('city_new') }}">Добавить город</a>
                </div>

                <div class="col-md-8 text-right">
                    <form class="navbar-form" role="search" id="nav-search-form" method="get" action="{{ path('city_search') }}">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Поиск города" name ="search">
                        </div>
                    </form>
                </div>
            </div>

            <div class = "row" style="background: rgba(89, 213, 241, 0.18); border-radius: 6px;">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Название</th>
                        <th>Население</th>
                        <th>Широта</th>
                        <th>Долгота</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for city in cities %}
                        <tr>
                            <td>{{ city.id }}</td>
                            <td><a href="{{ path('city_show', { 'id': city.id }) }}">{{ city.name }}</a></td>
                            <td>{{ city.population }}</td>
                            <td>{{ city.latitude}} </td>
                            <td>{{ city.longitude }} </td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('city_show', { 'id': city.id }) }}">Показать</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('city_edit', { 'id': city.id }) }}">Редактировать</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>


        </div>





        <div id="datasource" class="tab-pane fade">
            <div class = "row text-center">
                <div id="city" class="tab-pane fade in active">
                    <div class = "row text-center">
                        <div class="col-md-4 text-left">
                            <a href="{{ path('datasource_new') }}">Добавить источник данных</a>
                        </div>

                        {#<div class="col-md-8 text-right">
                            <form class="navbar-form" role="search" id="nav-search-form" method="get" action="{{ path('city_search') }}">
                                <div class="input-group">
                                    <input type="search" class="form-control" placeholder="Поиск города" name ="search">
                                </div>
                            </form>
                        </div>#}
                    </div>

                    {% if datasources %}
                    <div class = "row" style="background: rgba(89, 213, 241, 0.18); border-radius: 6px; margin-top: 2%">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Название</th>
                                <th>Температура</th>
                                <th>Широта</th>
                                <th>Долгота</th>
                                <th>Действия</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for ds in datasources %}
                                <tr>
                                    <td>{{ ds.id }}</td>
                                    <td><a href="{{ path('datasource_show', { 'id': ds.id }) }}">{{ ds.name }}</a></td>
                                    <td>{{ ds.temperature }}</td>
                                    <td>{{ ds.latitude}} </td>
                                    <td>{{ ds.longitude }} </td>
                                    <td>
                                        <ul>
                                            <li>
                                                <a href="{{ path('datasource_show', { 'id': ds.id }) }}">Показать</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('datasource_edit', { 'id': ds.id }) }}">Редактировать</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    {% endif %}


                </div>
            </div>
        </div>

    </div>
{% endblock %}
