{% extends 'base.html.twig' %}

{% block body %}
    <h1>City creation</h1>

    <form class="form-horizontal" method="post" action="{{ path('city_new') }}">
        {#{{ form_row(form._token) }}#}
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Название</label>
            <div class="col-sm-10">
                {{ form_widget(form.name, {'attr': {'type': 'text', 'class': 'form-control', 'placeholder': 'Название'}}) }}
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Население</label>
            <div class="col-sm-10">
                {{ form_widget(form.population, {'attr': {'type': 'text', 'class': 'form-control', 'placeholder': 'Население'}}) }}
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Широта</label>
            <div class="col-sm-10">
                {{ form_widget(form.latitude, {'attr': {'type': 'text', 'class': 'form-control', 'placeholder': 'Широта'}}) }}
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Долгота</label>
            <div class="col-sm-10">
                {{ form_widget(form.longitude, {'attr': {'type': 'text', 'class': 'form-control', 'placeholder': 'Долгота'}}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-default" value="Создать" />
            </div>
        </div>
        {{ form_rest(form) }}
    </form>


    {#{{ form_start(form) }}
    {{ form_row(form._token) }}
    {{ form_rest(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Edit" />
    {{ form_end(form) }}#}

    <ul>
        <li>
            <a href="{{ path('city_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
