{% extends 'base.html.twig' %}

{% block body %}

    <h1>Феноменальный город <b>{{ city.name }}</b></h1>

    <div class = "row text-center">
        <div class="col-md-4 text-left">
            <a href="{{ path('city_new') }}">Добавить город</a>
        </div>

        <div class="col-md-8 text-right">
            <form class="navbar-form" role="search" id="nav-search-form" method="get" action="{{ path('city_search') }}">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Поиск города" name ="search">
                </div>
            </form>
        </div>
    </div>

            {#<li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>#}

    <div class="row" style="background: rgba(89, 213, 241, 0.18); border-radius: 6px;">
        <div class = "col-md-6">
            <table class="table table-hover">
                <tbody>
                    <tr class="lead">
                        <th>Город</th>
                        <th>{{ city.name }}</th>
                    </tr>
                    <tr>
                        <td>Население</td>
                        <td>{{ city.population }}</td>
                    </tr>
                    <tr>
                        <td>Широта</td>
                        <td>{{ city.latitude}} </td>
                    </tr>
                    <tr>
                        <td>Долгота</td>
                        <td>{{ city.longitude }} </td>
                    </tr>
                </tbody>
            </table>
            {% if data_source is not empty %}
            <table class="table table-hover">
                <tbody>
                    <tr class="lead">
                        <th>Источник данных</th>
                        <th><a href="{{ path('datasource_show', { 'id': data_source.id }) }}">{{ data_source.name }}</a></th>
                    </tr>
                    <tr>
                        <td>Температура</td>
                        <td>{{ data_source.temperature }} °C</td>
                    </tr>
                    <tr>
                        <td>Долгота</td>
                        <td>{{ data_source.latitude }} </td>
                    </tr>
                    <tr>
                        <td>Широта</td>
                        <td>{{ data_source.longitude }} </td>
                    </tr>

                </tbody>
            </table>
            {% else %}
                <a class="" href="{{ path('city_edit', { 'id': city.id }) }}">Добавить источник данных</a>
            {% endif %}


        </div>
        <div class="text-right" style="margin-right: 2%">
            <img class = "img-rounded" alt="" locale="ru" src="//static-maps.yandex.ru/1.x/?ll={{ city.latitude }},{{ city.longitude }}&amp;size=450,450&amp;z=9&amp;l=map&amp;pt={{ city.latitude }},{{ city.longitude }},pmwtm1~{{ city.latitude }},{{ city.longitude }},org">
        </div>
    </div>

    <div calss="row">
        <a style="float: right;" href="{{ path('city_index') }}">Вернуться к списку</a>
        <a class="text-right" href="{{ path('city_edit', { 'id': city.id }) }}">Редактировать</a>
    </div>






{% endblock %}
