{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            Феноменальный город <b>{{ city.name }}</b>
        </div>
    </div>

    <div class = "row text-center">
        <div class="col-md-4 text-left">
            <a href="{{ path('city_new') }}">Добавить город</a>
        </div>

        <div class="col-md-8 text-right">
            <form class="navbar-form" role="search" id="nav-search-form" method="get" action="{{ path('city_search') }}">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Поиск города" name ="search">
                </div>
            </form>
        </div>
    </div>

            {#<li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>#}

    <div class="row" style="background: rgba(89, 213, 241, 0.18); border-radius: 6px;">
        <div class = "col-md-6">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td>{{ city.id }}</td>
                    </tr>
                    <tr>
                        <td>Название</td>
                        <td>{{ city.name }}</td>
                    </tr>
                    <tr>
                        <td>Население</td>
                        <td>{{ city.population }}</td>
                    </tr>
                    <tr>
                        <td>Широта</td>
                        <td>{{ city.latitude}} </td>
                    </tr>
                    <tr>
                        <td>Долгота</td>
                        <td>{{ city.longitude }} </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-md-4"> {#.col-md-offset-4#}
            <img class = "img-rounded" alt="" locale="ru" src="//static-maps.yandex.ru/1.x/?ll={{ city.latitude }},{{ city.longitude }}&amp;size=450,450&amp;z=9&amp;l=map&amp;pt={{ city.latitude }},{{ city.longitude }},pmwtm1~{{ city.latitude }},{{ city.longitude }},org">
        </div>
    </div>

    <div calss="row">
        <a style="float: right;" href="{{ path('city_index') }}">Back to the list</a>
        <a class="text-right" href="{{ path('city_edit', { 'id': city.id }) }}">Edit</a>
    </div>






{% endblock %}
